.header {
  position: relative;
  width: 100%;
  height: 114px;
  
}

.logo {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 22px;
  top: 18px;

  background: url("/assets/images/logo.png") center/cover;
  border-radius: 12px;
}

.menu {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 22px;
  top: 31px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu span {
  height: 1.5px;
  background: #C5A059;
  width: 100%;
}