<section class="latest-discoveries">
  <h2>Dernières découvertes</h2>
  <div class="signal-example">
    <p>Counter: {{ counter() }}</p>
    <button (click)="increment()">Increment</button>
  </div>
  <div class="discoveries-grid">
    <!-- Boucle FOR carte 6 fois avec des données différentes 
     {{item}} pour générer dynamiquement des attributs pour chaque élément répété dans *ngFor, 
     rendant chaque "carte de découverte" distincte en fonction de sa position dans la liste.
    -->
    <div class="discovery-card" *ngFor="let item of [1,2,3,4,5,6]">
      <img src="assets/images/quartz.png"  alt="Minéral {{item}}">
      <div class="card-content">
        <h4>Quartz Rose</h4>
        <p>Confiance IA: 92%</p>
        <p>par @utilisateur{{item}}</p>
      </div>
    </div>
  </div>
</section>
